In [199]:
from openpyxl.workbook import Workbook
from openpyxl import load_workbook
import pandas as pd
from datetime import datetime

In [200]:
def addYears(d):
    try: 
        return d.replace(year = d.year + 57)
    except ValueError:     
        return d + (date(d.year + 57, 1, 1) - date(d.year, 1, 1))

In [201]:
def list_check(list, index):
    try:
        return list[index]
    except IndexError:
        return int(list[index-1])+30

In [202]:
 def time_12_to_24(time):
    time = time.replace(".",":")
    d = datetime.strptime(time, "%H:%M")
    return d.strftime("%I:%M %p")

In [203]:
import openpyxl
print(openpyxl.__version__)

3.0.7

In [204]:
wb = load_workbook(filename = 'th.xlsx')
ws = wb.active
week_row = []
for row in ws.iter_rows(min_col=1, max_col=1):
    for cell in row:
        if "Week" in cell.value:
            week_row.append(cell.row)
print(week_row)

[1, 28, 53, 76, 103, 138, 172, 196, 227, 249, 272, 294, 310, 326, 360, 378, 398, 419, 442, 467, 484, 500]

In [207]:
title = ""
start_time = ""
end_time = ""
title_array =[]
df = pd.DataFrame(columns= ["Subject","Start date","Start time","End date","End time"])
for i in range(len(week_row)):
    for col in ws.iter_cols(min_row=week_row[i]+1, max_row=list_check(week_row,i+1)-1,min_col =2):
        for cell in col:
            if cell.border.top.style is not None: 
                title = ""
                start_time = ws.cell(row=cell.row, column=1).value[0:5]
            try:
                if cell.value not in title:
                    if not (title[-1:] == " " or cell.value[0] == " "):
                         title += " "
                    title += cell.value
            except TypeError:
                pass
            if cell.border.bottom.style is not None: 
                end_time = ws.cell(row=cell.row, column=1).value[-5:]
                if title != "" and "LUNCH" not in title and "LUNCH" not in start_time and "LUNCH" not in end_time and "วันหยุด" not in title and "วันนหยุด" not in title:
                    title_array.append(title)
                    date = addYears(ws.cell(row=week_row[i],column = cell.column).value)
                    a_series = pd.Series([title,date,time_12_to_24(start_time),date,time_12_to_24(end_time)], index = df.columns)
                    df = df.append(a_series, ignore_index=True)
pd.options.display.max_columns = None
display(df)

,Subject,Start date,Start time,End date,End time
0,Orientation ชันปีที 2 (อ.ณัฐวุธ และ อ.กวินทรา...,2021-07-12,09:00 AM,2021-07-12,10:00 AM
1,Orientation RAID 205 (อ.พรพรรณ PM) ห้อง Audit...,2021-07-12,10:00 AM,2021-07-12,10:30 AM
2,Lecture 1 Cellular and body homeostasis (อ.ฐิ...,2021-07-12,10:30 AM,2021-07-12,11:30 AM
3,Lecture 2 Membrane transport and membrane pot...,2021-07-12,01:30 PM,2021-07-12,03:30 PM
4,Lecture 3 Excitable cell impulse and synaptic...,2021-07-13,10:00 AM,2021-07-13,12:00 PM
...,...,...,...,...,...
243,RAGE 201\nResearch Tour,2021-12-03,01:30 PM,2021-12-03,05:00 PM
244,RESEARCH MARKET,2021-12-07,08:30 AM,2021-12-07,12:00 PM
245,RESEARCH MARKET,2021-12-07,01:30 PM,2021-12-07,05:00 PM
246,RESEARCH MARKET,2021-12-08,08:30 AM,2021-12-08,12:00 PM
247,RESEARCH MARKET,2021-12-08,01:30 PM,2021-12-08,05:00 PM

In [206]:
df.to_csv("y2t1.csv")